# Root gitignore for SmartRetail

# Python / Flask
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
backend/venv/
backend/.venv/
env/
venv/
ENV/
*.env
!.env.example
*.sqlite3
*.db

# Datasets & Raw Data
*.parquet
*.csv
data/
data_raw/
backend/data_raw/
backend/data/



# Node / React
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
*.local

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log
